.container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    overflow-y: auto;
}
.center {
    text-align: center;
    flex: 0.2;
}
.gray-border {
    border: 1pt solid #D8D8D8;
}
.no-bullets {
    list-style-type: none;
    padding-left: 0;
}
ul {
    overflow-y: auto;
}
.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF; 
    padding-bottom: 12px;
}