table {
    background-color: white;
    border-spacing: 12px;
    border-collapse: inherit;
}
td {
    width: 30%;
}
.gray-border {
    border: 1px solid lightgray;
}
.barcode-image {
    border: 1pt solid gray;
    padding-top: 0;
    width: 80%;
}