.no-bullets {
    list-style-type: none;
    padding-left: 0;
}
.gray-border {
    border: 1px solid lightgray;
}
.settings-blue {
    color: #006DCC;
    font-size: 1rem;
}
.back-button-container {
    height: 44px;
    text-align: left;
    padding-top: 2%;
}
.header-text {
    color: #706E6B;
    padding-top: 12px;
}
.container {
    background-color: white;
}
.fit {
    height: fit-content;
}
.bold {
    font-weight: bold;
}